<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>설문조사 사이트</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
<!-- 네비게이션 바 -->
<nav>
    <a href="/" class="logo">💡 Easy Survey Making</a>
    <ul>
        <li><a href="/create">설문 만들기</a></li>
        <li><a href="#">내 설문</a></li>
        <li><a href="#">로그인</a></li>
    </ul>
</nav>

<div class="slider">
    <div class="slides">
        <img src="/images/img_test_1_1920x1280.jpg" alt="slide1">
        <img src="/images/img_test_2_1920x1280.jpg" alt="slide2">
        <img src="/images/img_test_3_1920x1280.jpg" alt="slide3">
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
    <div class="indicators"></div>
</div>

    <script src="/js/home.js"></script>
</body>
</html>